{% extends "layout.html" %}
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
        class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
  </div>

  <!-- Content Row -->
  <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">#of Maintaince Orders</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ OrdersNumbers }}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-truck fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">#of Cleaning Orders</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ OrderCleaningCount }}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-user fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">#of Agents
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ AgentNumbers }}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- Earnings (Monthly) Card Example -->
    <!-- <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-danger shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">#of Customers</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ ServiceNumbers }}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-cogs fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-danger shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">#of Users</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ UsersNumbers }}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-user-circle fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>


        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">#of Services</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ ServiceNumbers }}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-cogs fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
    


    <!-- <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">#of Feedbacks </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ FeedbackNumber }}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div> -->

  </div>


  <div class="row">

    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Orders Map Overview</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaVF2b8c8-Ml6_gDTfRaESPZeZOFQDUX0"></script>
          <script type="text/javascript">

            function initialize() {
              var myLatlng = new google.maps.LatLng(-1.2977282, 36.8874135);
              var myOptions = {
                zoom: 12,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
              }
              map = new google.maps.Map(document.getElementById("map"), myOptions);
              TestMarkerOrderMainiatince();
              TestMarkerOrderCleaning();
              TestMarkerAgent();

            }


            function TestMarkerAgent() {

                var infoWindow = new google.maps.InfoWindow();

                {% for item in AgentGeo %}

                var lat = {{ item.lat }}
                var long = {{ item.lon }};
                var Id = {{ item.lon }};


                var location = new google.maps.LatLng(lat, long);

                var marker = new google.maps.Marker({
                map: map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                title: "heloooo" ,
                icon: 'http://maps.google.com/mapfiles/ms/icons/orange.png',
                position: location,
                });

                (function (marker, nIdame) {
                  google.maps.event.addListener(marker, "click", function (e) {
                      infoWindow.open(map, marker);
                  });
                })(marker, Id);


                {% endfor %}

                }


            function TestMarkerOrderCleaning() {

                var infoWindow = new google.maps.InfoWindow();

                {% for item in OrderCleaningGeo %}

                var lat = {{ item.latit }}
                var long = {{ item.lon }};
                var Id = {{ item.lon }};


                var location = new google.maps.LatLng(lat, long);

                var marker = new google.maps.Marker({
                map: map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                title: "heloooo" ,
                icon: 'http://maps.google.com/mapfiles/ms/icons/purple.png',
                position: location,
                });

                (function (marker, nIdame) {
                  google.maps.event.addListener(marker, "click", function (e) {
                      infoWindow.open(map, marker);
                  });
                })(marker, Id);


                {% endfor %}

                }




            function TestMarkerOrderMainiatince() {

              var infoWindow = new google.maps.InfoWindow();

              {% for item in OrdersMaintenanceGeo %}
              
              var lat = {{ item.latit }}
              var long = {{ item.lon }};
              var Id = {{ item.lon }};
              

            var location = new google.maps.LatLng(lat, long);

            var marker = new google.maps.Marker({
              map: map,
              draggable: true,
              animation: google.maps.Animation.DROP,
              title: "heloooo" ,
              icon: 'http://maps.google.com/mapfiles/ms/icons/green.png',
              position: location,
            });

            (function (marker, nIdame) {
                google.maps.event.addListener(marker, "click", function (e) {
                    infoWindow.open(map, marker);
                });
            })(marker, Id);
        

            {% endfor %}

            }

          </script>

          <body onload="initialize()">
            <div class="container">
              <div id="map" style="width:100%; height:500px;"></div>
            </div>
          </body>
        </div>


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

{% endblock content %}