{% extends "layout.html" %}
{% block content %}

<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal"
        data-target="#insertModal"><i class="fas fa-plus fa-sm text-white-50"></i> Add Order Cleaning</a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Order Number</th>
              <th>Customer Name</th>
              <th>Phone Number</th>
              <th>Address</th>
              <th>Services</th>
              <th>Selected Date</th>
              <th>Price</th>
              <th>Status</th>
              <th>OrderdAt</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            {% for item in OrdersItems %}
            <tr>
              <td>{{ item.OrderNumber }}</td>
              <td>{{ item.FirstName }}</td>
              <td>{{ item.PhoneNumber }}</td>
              <td>{{ item.Address }}</td>
              <td>{{ item.Service }}</td>
              <td>{{ item.OrderDate }}</td>
              <td>{{ item.Price }} SDG</td>
              <td>{{ item.status.OrderStatus }}</td>
              <td>{{ item.CreatedAt }}</td>
              <td>
                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal"
                  data-target="#editModal{{ item.IdOrder }}"><i class="fas fa-edit fa-sm text-white-50"></i>
                  Edit </a>
                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal"
                  data-target="#editStatusModal{{ item.IdOrder }}"><i class="fas fa-edit fa-sm text-white-50"></i>
                  Edit Status </a>
                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal"
                  data-target="#deleteModal{{ item.IdOrder }}"><i class="fas fa-trash-alt fa-sm text-white-50"></i>
                  Delete </a>
              </td>
            </tr>



            <!-- edit Modal-->
            <div class="modal fade" id="editModal{{ item.IdOrder }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Maintenance Order</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="{{url_for('orders.edit_order', IdOrder = item.IdOrder )}}" method="POST">
                      <div class="form-row">
                        <div class="form-group col-md-12">
                          <label for="exampleFormControlSelect1">First Name:</label>
                          <input type="text" class="form-control" id="inputAddress" value="{{ item.FirstName }}"
                            name="CustomerFirstName">
                        </div>
                        <div class="form-group col-md-12">
                          <label for="exampleFormControlSelect1">Last Name:</label>
                          <input type="text" class="form-control" id="inputAddress" value="{{ item.LastName }}"
                            name="CustomerLastName">
                        </div>
                        <div class="form-group col-md-12">
                          <label for="exampleFormControlSelect1">Customer Phone Number:</label>
                          <input type="text" class="form-control" id="inputAddress" value="{{ item.PhoneNumber }}"
                            name="CustomerPhone">
                        </div>
                        <div class="form-group col-md-12">
                          <label for="exampleFormControlSelect1">Customer Address :</label>
                          <input type="text" class="form-control" id="inputAddress"
                            value="{{ item.Address }}" name="CustomerAddress">
                        </div>
                        <div class="form-group col-md-12">
                          <label for="exampleFormControlSelect1">Customer Email :</label>
                          <input type="text" class="form-control" id="inputAddress" value="{{ item.Email }}"
                            name="CustomerEmail">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">Choose Services :</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="Services">
                          {% for item in ServiceItems %}
                          <option value="{{ item.IdService }}">{{ item.Name }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">Choose Priority :</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="Priority">
                          {% for item in PriorityItems %}
                          <option value="{{ item.IdPriority }}">{{ item.PriorityName }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">Choose Time :</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="Time">
                          {% for item in TimeItems %}
                          <option value="{{ item.IdTime }}">{{ item.TimeDec }}</option>
                          {% endfor %}
                            </select>
                      </div>
                      <div class="form-group">
                        <label for="inputAddress2">Selected Date :</label>
                        <input type="date" class="form-control" id="inputAddress2" name="Ordertime">
                      </div>
                  </div>
                  <div class="col-sm-12">
                    <label>Any special instructions or additional details ?</label>
                    <textarea id="comment" name="comment" rows="3" cols="40" class="form-control"></textarea>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="submit">Submit</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>


            <!-- edit Status Modal-->
            <div class="modal fade" id="editStatusModal{{ item.IdOrder }}" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Order</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="{{url_for('ordercleaning.edit_status_order', IdOrder = item.IdOrder )}}" method="POST">
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">Edit Status :</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="OrderStatusName">
                          {% for item in OrderStatusItems %}
                          <option value="{{ item.IdOrderStatus }}">{{ item.OrderStatus }}</option>
                          {% endfor %}
                        </select>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="submit">Submit</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>


            <!-- delete Modal-->
            <div class="modal fade" id="deleteModal{{ item.IdOrder }}" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Maintenance Order</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">Are you sure you want to delete {{ item.OrderNumber }} ?</div>
                  <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary"
                      href="{{url_for('ordercleaning.delete_order', IdOrder = item.IdOrder )}}">Delete</a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

</div>

<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- insert Modal-->
<div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Insert Maintenance Order</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{{url_for('orders.add_order')}}" method="POST">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="exampleFormControlSelect1">First Name:</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Insert First name "
                name="CustomerFirstName">
            </div>
            <div class="form-group col-md-12">
              <label for="exampleFormControlSelect1">Last Name:</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Insert Last name "
                name="CustomerLastName">
            </div>
            <div class="form-group col-md-12">
              <label for="exampleFormControlSelect1">Customer Phone Number:</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Insert Customer Phone "
                name="CustomerPhone">
            </div>
            <div class="form-group col-md-12">
              <label for="exampleFormControlSelect1">Customer Address :</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Insert Customer Address "
                name="CustomerAddress">
            </div>
            <div class="form-group col-md-12">
              <label for="exampleFormControlSelect1">Customer Email :</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Insert Customer Email "
                name="CustomerEmail">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Choose Services :</label>
            <select class="form-control" id="exampleFormControlSelect1" name="Services">
              {% for item in ServiceItems %}
              <option value="{{ item.IdService }}">{{ item.Name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Choose Priority :</label>
            <select class="form-control" id="exampleFormControlSelect1" name="Priority">
              {% for item in PriorityItems %}
              <option value="{{ item.IdPriority }}">{{ item.PriorityName }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Choose Time :</label>
            <select class="form-control" id="exampleFormControlSelect1" name="Time">
              {% for item in TimeItems %}
              <option value="{{ item.IdTime }}">{{ item.TimeDec }}</option>
              {% endfor %}
                </select>
          </div>
          <div class="form-group">
            <label for="inputAddress2">Selected Date :</label>
            <input type="date" class="form-control" id="inputAddress2" name="Ordertime">
          </div>
      </div>
      <div class="col-sm-12">
        <label>Any special instructions or additional details ?</label>
        <textarea id="comment" name="comment" rows="3" cols="40" class="form-control"></textarea>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}