{% extends "layout.html" %}
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
              class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
  <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more
            information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official
              DataTables documentation</a>.</p> -->

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal"
        data-target="#insertModal"><i class="fas fa-plus fa-sm text-white-50"></i> Add Order</a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Order Number</th>
              <th>Customer Name</th>
              <th>Phone Number</th>
              <th>Address</th>
              <th>Services</th>
              <th>Selected Date</th>
              <th>Price</th>
              <th>Status</th>
              <th>OrderdAt</th>
              <th>Action</th>
            </tr>
          </thead>
          <!-- <tfoot>
                        <tr>
                          <th>Id</th>
                          <th>Name</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                      </tfoot> -->
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal"
                  data-target="#editModal"><i class="fas fa-edit fa-sm text-white-50"></i>
                  Edit </a>
                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal"
                  data-target="#editStatusModal"><i class="fas fa-edit fa-sm text-white-50"></i>
                  Edit Status </a>
                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal"
                  data-target="#deleteModal"><i class="fas fa-trash-alt fa-sm text-white-50"></i>
                  Delete </a>
              </td>
            </tr>

            <!-- edit Modal-->
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Order</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="" method="POST">
                      <div class="form-row">
                        <div class="form-group col-md-12">
                          <label for="exampleFormControlSelect1">Choose Business :</label>
                          <select class="form-control" id="exampleFormControlSelect1" name="BusinesName">
                            <option value=""></option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">Choose crop :</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="Crop">
                          <option value=""></option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">Choose Quantity :</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="Qty">
                          <option value=""></option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="inputAddress">Price :</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder=""
                          name="Price">
                      </div>
                      <div class="form-group">
                        <label for="inputAddress2">Order Time :</label>
                        <input type="date" class="form-control" id="inputAddress2" name="Ordertime">
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="submit">Submit</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>


            <!-- edit Modal-->
            <div class="modal fade" id="" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Order</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="" method="POST">
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">Edit Status :</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="OrderStatusName">
                          <option value=""></option>
                        </select>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="submit">Submit</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>





            <!-- delete Modal-->
            <div class="modal fade" id="" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Order</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">Are you sure you want to delete  ?</div>
                  <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="">Delete</a>
                  </div>
                </div>
              </div>
            </div>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- insert Modal-->
<div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Insert Order</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="exampleFormControlSelect1">Customer Name:</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Insert Customer name " name="CustomerName">
            </div>
            <div class="form-group col-md-12">
              <label for="exampleFormControlSelect1">Customer Phone Number:</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Insert Customer Phone " name="CustomerPhone">
            </div>
            <div class="form-group col-md-12">
              <label for="exampleFormControlSelect1">Customer Address :</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Insert Customer Address " name="CustomerAddress">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Choose Services :</label>
            <select class="form-control" id="exampleFormControlSelect1" name="Services">
              <option value=""></option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Choose Agent :</label>
            <select class="form-control" id="exampleFormControlSelect1" name="Agent">
              <option value=""></option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Choose Order Status :</label>
            <select class="form-control" id="exampleFormControlSelect1" name="OrderStatus">
              <option value=""></option>
            </select>
          </div>
          <!-- <div class="form-group">
            <label for="inputAddress">Price :</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Insert Price" name="Price">
          </div> -->
          <div class="form-group">
            <label for="inputAddress2">Selected Date :</label>
            <input type="date" class="form-control" id="inputAddress2" name="Ordertime">
          </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}